#app-flowchart {
  p.title {
    font-size: 2em;
    font-weight: 300;

    align-self: flex-start;
  }

  mat-spinner {
    margin-top: 30vh;
  }

  overflow: hidden;

  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}
