<mat-toolbar id="app-header">
  <img
    class="logo-image"
    src="../../../../assets/logo.webp"
    alt="A logo do JuMP acompanhado pelo nome em verde e azul"
  />
  <span [routerLink]="['/flowchart/']">
    <mat-icon> account_tree </mat-icon>
    <p>Fluxograma</p>
  </span>
  <span [routerLink]="['/analysis/']">
    <mat-icon> cases </mat-icon>
    <p>Análise de processos</p>
  </span>

  <span (click)="switchFlowchartSize()">
    <mat-icon> autorenew </mat-icon>
    <p>Fluxograma {{ isFlowchartBig() ? "grande" : "pequeno" }}</p>
  </span>
</mat-toolbar>
